@import '../variables.scss';
@import '../mixins.scss';

.resume-section {
    @include column-center;
    font-family: $signika;
    width: 100vw;
}

.resume-frame {
    @include column-center;
    background-color: $navy;
    width: 70%;
    padding: 5% 1%;
    box-shadow: 11px 12px 13px black;
    border-radius: 10px;
    margin: 3% 0;
    height: 70vh;
}

@media only screen and (max-width: 1500px) {
    .resume-frame {
        width: 75%;
    }
}

@media only screen and (max-width: 1100px) {
    .resume-frame {
        width: 80%;
        margin-top: 10%;
    }
}