@import '../variables.scss';
@import '../mixins.scss';

.resume-section {
    @include column-center;
    font-family: $signika;
    width: 100vw;
}

.resume-frame {
    @include column-center;
    background-color: $navy;
    width: 70%;
    padding: 5% 1%;
    box-shadow: 11px 12px 13px black;
    border-radius: 10px;
    margin-top: 3%;
    height: 70vh;
}

@media only screen and (max-width: 1500px) {
    .resume-frame {
        width: 80%;
    }
}

@media only screen and (max-width: 1100px) {
    .resume-frame {
        width: 90%;
    }
}

@media only screen and (max-width: 800px) {
    .resume-frame {
        width: 95%;
    }
}