@import '../variables.scss';
@import '../mixins.scss';

.adventure-search-form {
    @include column;
    align-self: flex-start;
    margin: 3% 6%;
    padding: 1% 2%;
    width: 25%;
}

.adventure-search-input {
    padding: 3%;
    outline: none;
    box-shadow: 4px 4px 8px black;
    border: none;
    background-color: $base;
}

.search-btn {
    @include yellow-button;
    margin: 5% 5% 0 0;
    padding: 2%;
    width: 30%;
}

.search-btn:hover {
    transform: scale(1.025)
}

@media only screen and (max-width: 1100px) {
    .adventure-search-form {
        margin-left: 1%;
        width: 40%;
    }
}

@media only screen and (max-width: 700px) {
    .adventure-search-form {
        margin-top: 5%; 
        margin-left: 7%;
        width: 80%;
    }
    .search-btn {
        padding: 1%;
        width: 20%;
    }

    .adventure-search-input {
        padding: 2%;
    }
}

@media only screen and (max-width: 500px) {
    .search-btn {
        width: 30%;
    }
}

