.adventure-search-form {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    margin: 3% 6%;
    padding: 1% 2%;
    width: 25%;
}

.adventure-search-input {
    padding: 3%;
    outline: none;
    box-shadow: 4px 4px 8px black;
    border: none;
    background-color: #EFECE7;
}

.search-btn {
    margin: 5% 5% 0 0;
    padding: 2%;
    width: 30%;
    border-radius: 20px;
    font-family: 'Signika Negative', sans-serif;
    cursor: pointer;
    background-color: #fffdd0;
    color: #0E1760;
    border: #0E1760 1px solid;
    box-shadow: 4px 4px 8px black;
    outline: none;
}

.search-btn:hover {
    transform: scale(1.025)
}
