@import '../variables.scss';
@import '../mixins.scss';

.all-playlists {
    @include row-wrap-center;
    width: 100vw;
    align-self: center;
}

.playlist-btn-container, .podcast-btn-container {
    width: 80%;
    margin: 2% 8%;
    display: flex;
    align-self: center;
}

.podcast-btn-container {
    align-self: flex-start;
}

.untoggled-btn {
    opacity: .9;
    box-shadow: 0 0 10px black;
    cursor: pointer;
}

.untoggled-btn:hover {
    transform: scale(1.02);
}

.toggled-btn {
    box-shadow: inset 0px 0px 20px black;
}

.toggled-btn, .untoggled-btn {
    width: 150px;
    padding: 10px 0;
    background-color: $navy;
    color: $cream;
    font-family: $signika;
    outline: none;
    border: none;
}

.all-podcasts {
    @include column-center;
    width: 100vw;
}

@media only screen and (max-width: 690px) {
    .playlist-btn-container, .podcast-btn-container {
        justify-content: center;
        margin: 5%;
    }
}


