@import '../variables.scss';
@import '../mixins.scss';

.photos-section {
    @include column-center;
    font-family: $signika;
    width: 100vw;
}

.adventure-library {
    @include row-wrap-center;
}

.error-message {
    color: $navy;
    font-size: 2em;
    text-decoration: underline wavy;
}
