@import '../variables.scss';

.photos-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: $signika;
    width: 100vw;
}

.adventure-library {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.error-message {
    color: $navy;
    font-size: 2em;
    text-decoration: underline wavy;
}
