@import '../../variables.scss';

.adventure-filter {
  width: 30%;
  align-self: flex-start;
  margin: 5%;
}

.adventure-filter h2 {
  color: $navy
}

.adventure-filter select {
  width: 90%;
  padding: 2% 5%;
  font-size: 16px;
  outline: none;
}

@media only screen and (max-width: 1200px) {
  .adventure-filter {
    width: 45%;
  }
}

@media only screen and (max-width: 800px) {
  .adventure-filter {
    width: 70%;
    align-self: center;
  }
}